image: develop-registry.4pd.io/centos6_gcc7_fesql:0.0.12
services:
  - docker.4pd.io/docker:dind
variables:
  GIT_SUBMODULE_STRATEGY: recursive
stages:
  - precheck
  - build
  - daily
  - quick
  - slow
  - deploy

style_check:
  stage: precheck
  except:
    variables:
      - $ENV_BUILD == "daily"
  script:
    - source /root/.bashrc && bash tools/style_check.sh
  artifacts:
    reports:
      junit:
        - ./reports/style.xml

build:
  stage: build
  script:
    - source /root/.bashrc && sh tools/install_fesql.sh
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && bash steps/simple_compile.sh
  except:
    variables:
      - $ENV_BUILD == "daily"
  artifacts:
    expire_in: 4h
    paths:
      - build/bin/fedb
      - build/bin/sql_sdk_test
      - build/bin/sql_cluster_test
      - build/src/sdk/libsql_jsdk.so
      - build/sql_pysdk/dist/*.whl
      - build/python/dist/*.whl

daily_build:
  stage: build
  script:
    - source /root/.bashrc && sh steps/checkout_fesql_branch.sh $FESQL_BRANCH
    - source /root/.bashrc && sh tools/install_fesql.sh
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && bash steps/simple_compile.sh
  artifacts:
    expire_in: 4h
    paths:
      - build/bin/fedb
      - build/src/sdk/libsql_jsdk.so
      - build/sql_pysdk/dist/*.whl
      - build/python/dist/*.whl
  only:
    variables:
      - $ENV_BUILD == "daily"

# mac_build:
#   variables:
#     CICD_RUNNER_TAG: "fedb_mac"
#   tags:
#     - fedb_mac
#   stage: build
#   script:
#     - bash steps/simple_compile_mac.sh
#     - mv build/bin/fedb build/bin/fedb_mac
#   artifacts:
#     expire_in: 4h
#     paths:
#       - build/bin/fedb_mac
#       - build/src/sdk/libsql_jsdk.dylib
#       - build/sql_pysdk/dist/*.whl
#   only:
#     variables:
#       - $ENV_BUILD == "daily"

fesql_auto_test_level_0:
  stage: quick
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_auto_test.sh "0"
  artifacts:
    reports:
      junit:
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/TEST-*.xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build

fesql_auto_test_level_cluster_0:
  stage: quick
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_auto_test_cluster.sh "0"
  artifacts:
    reports:
      junit:
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/TEST-*.xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build

fesql_sdk_c++_sql_cluster_test_level_0:
  stage: quick
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_c_ut.sh 0 sql_cluster_test
  artifacts:
    reports:
      junit:
        - reports/*.xml
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

fesql_sdk_c++_sql_sdk_test_level_0:
  stage: quick
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_c_ut.sh 0 sql_sdk_test
  artifacts:
    reports:
      junit:
        - reports/*.xml
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

fesql_auto_test_level_1+:
  stage: slow
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_auto_test.sh "1,2,3,4,5"
  artifacts:
    reports:
      junit:
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/TEST-*.xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build

fesql_auto_test_level_cluster_1+:
  stage: slow
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_auto_test_cluster.sh "1,2,3,4,5"
  artifacts:
    reports:
      junit:
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/TEST-*.xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build

fesql_sdk_c++_level_1+:
  stage: slow
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_c_ut.sh "1,2,3,4,5"
  artifacts:
    reports:
      junit:
        - reports/*.xml
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

c++_ut:
  stage: quick
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && sh tools/install_fesql.sh
    - source /root/.bashrc && cd build && cmake -DSQL_PYSDK_ENABLE=OFF -DSQL_JAVASDK_ENABLE=OFF .. && make -j5 && cd ../
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/ut.sh
  artifacts:
    reports:
      junit:
        - reports/*.xml
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

fesql_auto_test_python:
  stage: slow
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_auto_test_python.sh
  artifacts:
    reports:
      junit:
        - src/sdk/python/fesql-auto-test-python/report/TEST-test_*.xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build

fesql_test_python:
  stage: quick
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_test_python.sh
  artifacts:
    reports:
      junit:
        - src/sdk/python/sqlalchemy-test/*xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build

tablet_one_demension:
  stage: slow
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - sed -i 's/log_level\ =\ debug/log_level\ =\ info/g' test-common/integrationtest/conf/test.conf
    - source /root/.bashrc && source /opt/rh/python27/enable && sh steps/integration_test_on_ramdir.sh 0 "test" "ns_client"
    - cp -r /rambuild/fedb/test-output/integrationtest/test-reports ./
  artifacts:
    reports:
      junit:
        - ./test-reports/*
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

tablet_multi_demension:
  stage: quick
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - sed -i 's/log_level\ =\ debug/log_level\ =\ info/g' test-common/integrationtest/conf/test.conf
    - source /root/.bashrc && source /opt/rh/python27/enable && sh steps/integration_test_on_ramdir.sh 1 "test" "ns_client"
    - cp -r /rambuild/fedb/test-output/integrationtest/test-reports ./
  artifacts:
    reports:
      junit:
        - ./test-reports/*
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

ns_one_demension:
  stage: slow
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - sed -i 's/log_level\ =\ debug/log_level\ =\ info/g' test-common/integrationtest/conf/test.conf
    - source /root/.bashrc && source /opt/rh/python27/enable && sh steps/integration_test_on_ramdir.sh 0 "ns_client" "disk"
    - cp -r /rambuild/fedb/test-output/integrationtest/test-reports ./
  artifacts:
    reports:
      junit:
        - ./test-reports/*
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

ns_multi_demension:
  stage: quick
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && source /opt/rh/python27/enable && sh steps/integration_test_on_ramdir.sh 1 "ns_client" "disk"
    - cp -r /rambuild/fedb/test-output/integrationtest/test-reports ./
  artifacts:
    reports:
      junit:
        - ./test-reports/*
  dependencies:
    - build
  except:
    variables:
      - $ENV_BUILD == "daily"

deploy-fedb:
  stage: daily
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && bash steps/deploy_package_fedb.sh
  dependencies:
    # - mac_build
    - daily_build
  only:
    variables:
      - $ENV_BUILD == "daily"

fesql_auto_gen_case:
  stage: slow
  before_script:
    - mkdir /rambuild
    - mount -t tmpfs -o size=3G tmpfs /rambuild
  script:
    - ln -sf /depends/thirdparty thirdparty
    - ln -sf /depends/thirdsrc thirdsrc
    - source /root/.bashrc && LD_LIBRARY_PATH=/depends/thirdparty/lib:$LD_LIBRARY_PATH bash steps/fesql_auto_gen_test_by_fedb.sh
  artifacts:
    reports:
      junit:
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/surefire-reports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/junitreports/TEST-*.xml
        - src/sdk/java/fesql-auto-test-java/target/failsafe-reports/TEST-*.xml
  except:
    variables:
      - $ENV_BUILD == "daily"
  dependencies:
    - build
  when: manual
