# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# idea
*.class
*.idea
*.iml
*.DS_store
cmake-build-*/

*.pyc
*.swp

# ignore pb generate code
src/proto/*.cc
src/proto/*.h

# ignore some build directory
build
build_mac
thirdparty*/
thirdsrc
**/*.log
onebox/*binlogs*
onebox/*bin*
onebox/logs
test-output
reports
test-common/integrationtest/ns*
test-common/integrationtest/tablet*
test-common/integrationtest/logs*
test-common/integrationtest/env.conf
test-common/integrationtest/openmldb
test-common/integrationtest/xmlrunner*

# ignore make generate code
src/version.h
src/config.h
java/openmldb-native/src/main/resources
java/openmldb-native/src/main/java
java/openmldb-*/src/main/java/com/_4paradigm/openmldb/proto/
java/hybridse-native/src/main/java
java/hybridse-proto/src
**/.mvn/wrapper/maven-wrapper.jar

**/target/
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/.cache/

**/.vscode/
**/.metals/
**/.bloop/

# ignore openmldb release dir & pkg
/openmldb*

/cmake-*

**/.deps/

**/compile_commands.json
**/pom.xml.versionsBackup
**/dependency-reduced-pom.xml
**/scalastyle-output.xml

# test
logs/
out/
allure-results/

# python builds
/python/openmldb_sdk/dist/
/python/openmldb_sdk/*.egg-info/
/python/openmldb_sdk/openmldb/native/**
!/python/openmldb_sdk/openmldb/native/__init__.pyt
/python/openmldb_sdk/test/*.xml
/python/openmldb_tool/dist/
/python/openmldb_tool/*.egg-info/
/python/openmldb_autofe/*.egg-info/
# go sdk
!go.mod

# tag files
**/tags
**/GPATH
**/GRTAGS
**/GTAGS
**/cscope.out
