java/fesql-spark/src/main/scala/com/_4paradigm/fesql/offline/nodes/LastJoinPlan.scala
build
thirdparty
thirdsrc

.vscode/
.idea/

*.dylib
*.jnilib
*.dylib
*.so
*.a

src/fe_version.h

# java ignore
*.iml
*.idea*
java/*/target

# ignore codegen files
java/fesql-proto/src/main/java/com/*
java/fesql-native/src/main/java/com/*
