[submodule "cmake-modules"]
	path = cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "farmhash"]
	path = farmhash
	url = https://github.com/google/farmhash.git
