# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# idea
*.class
java/target
*.idea
*.iml
*.DS_store

*.pyc
*.swp

# ignore pb generate code
src/proto/*.cc
src/proto/*.h

# ignore some build directory
build
thirdparty
thirdsrc
onebox/*.log
onebox/*binlogs*
onebox/*bin*
test-output
reports
test-common/integrationtest/ns*
test-common/integrationtest/tablet*
test-common/integrationtest/logs*
test-common/integrationtest/env.conf
test-common/integrationtest/rtidb
test-common/integrationtest/xmlrunner*
