build
build_mac
thirdparty
thirdsrc

.vscode/
.idea/

*.dylib
*.jnilib
*.dylib
*.so
*.a

src/fe_version.h
src/hyhridse_version.h

# ignore docgen
style.xml
hybridse_version.h
intermediate_cicd_artifact_.tar.gz
.husky
tools/documentation/api_doxygen/html
tools/documentation/api_doxygen/xml
tools/documentation/api_doxygen/c++
SUMMARY.md
doxybook2.sh
tools/documentation/c++_api/c++
tools/documentation/c++_api/doxybook2_home
tools/documentation/c++_api/html
tools/documentation/c++_api/xml
tools/documentation/java_api/doxybook2_home
tools/documentation/java_api/html
tools/documentation/java_api/xml
tools/documentation/java_api/java
