# apiserver.conf
--endpoint=127.0.0.1:9080
--role=apiserver
--zk_cluster=127.0.0.1:2181
--zk_root_path=/openmldb

--openmldb_log_dir=./logs
--log_level=info

#--thread_pool_size=16
--bvar_max_dump_multi_dimension_metric_number=10
--bvar_dump_interval=75