version: "3.9"
services:
  sut:
    build:
      context: .
    volumes:
      - ./jd-recommendation:/work/oneflow_demo
      - ./job_checker.py:/work/job_checker.py
      - ./quick_start:/work/quick_start
      # no mvn in image, so build the java demo outside and mount the jar
      - ./java_quickstart/demo/target/demo-1.0-SNAPSHOT.jar:/work/java_quickstart/demo-1.0-SNAPSHOT.jar
      - ./python_quickstart:/work/python_quickstart
    # You can add `cat <log_file>` here(e.g. `cat /work/openmldb/taskmanager/bin/logs/job_1_error.log`, cat `predict.log`), to check the log info. 
    # No need to docker-compose build again. But if you modified the Dockerfile, must rebuild it.
    command:
      - /bin/bash
      - -cx
      - |
        # # TODO(tobe): Remove this after 0.7.3 is released
        # rm -f /work/openmldb/spark-3.2.1-bin-openmldbspark/jars/curator-* # curator NoSuchMethodError error
        ./init.sh
        sleep 5
        # quickstart test
        cd /work/quick_start
        /work/openmldb/bin/openmldb --zk_cluster=127.0.0.1:2181 --zk_root_path=/openmldb --role=sql_client < cluster_quickstart.sql
        python3 request_test.py

        # java/python sdk, no jar in ci, so we should check the result manually
        cd /work/java_quickstart
        java -cp demo-1.0-SNAPSHOT.jar com.openmldb.demo.App
        cd /work/python_quickstart
        python3 demo.py

        # taxi use case test
        cd /work/taxi-trip
        /work/openmldb/bin/openmldb --zk_cluster=127.0.0.1:2181 --zk_root_path=/openmldb --role=sql_client < taxi.sql
        python3 train.py /tmp/feature_data /tmp/model.txt
        # port 8887
        ./start_predict_server.sh 127.0.0.1:9080 /tmp/model.txt
        python3 predict.py || (cat /tmp/p.log && return -1)

        # talkingdata demo test
        cd /work/talkingdata
        # port 8881
        python3 predict_server.py --no-init > predict.log 2>&1 &
        python3 train_and_serve.py
        python3 predict.py || (cat predict.log && return -1)

        # oneflow sql test # will be failed before https://github.com/4paradigm/OpenMLDB/issues/3151 fixed
        cd /work/oneflow_demo/sql_scripts
        # 10 min
        cat sql_order | xargs cat | /work/openmldb/bin/openmldb --zk_cluster=127.0.0.1:2181 --zk_root_path=/openmldb --role=sql_client
        # check deployment, jobs will be checked by job_checker.py
        curl http://127.0.0.1:9080/dbs/JD_db/deployments/demo | grep "ok" || return -1

        # open it after new diag tool released, or you can test in local by USE_ADD_WHL
        cd /work
        openmldb_tool status --diff -f /work/openmldb/conf/hosts 
        openmldb_tool inspect
        openmldb_tool test
        openmldb_tool static-check --conf_file=/work/openmldb/conf/hosts -VCL --local
