<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" 
  xmlns="http://maven.apache.org/SETTINGS/1.1.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>4pd-nexus-snapshots</id>
      <username>deploy</username>
      <password>GlW5SRo1TC3q</password>
    </server>
    <server>
      <id>4pd-nexus-releases</id>
      <username>deploy</username>
      <password>GlW5SRo1TC3q</password>
    </server>
    <server>
      <id>ftp.4pd.io</id>
      <username>anonymous</username>
      <password></password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>4pd-nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>https://nexus.4pd.io/repository/maven-public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://nexus.4pd.io/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://nexus.4pd.io/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <sonar.host.url>https://sonar.4pd.io</sonar.host.url>
        <sonar.login>94154b7e6c47b538522edafd90b453bdac0bc7fa</sonar.login>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>

