{% include "header" -%}

{% include "breadcrumbs" -%}

{% if exists("brief") %}{{brief}}{% endif %}{% if hasDetails %} [More...](#detailed-description)

{% endif -%}

{% include "nonclass_members_tables" -%}

{% if hasDetails %}## Detailed Description

{% include "details" %}{% endif -%}

{% include "nonclass_members_details" %}

{% include "footer" %}