{% include "header" -%}
{% include "breadcrumbs" %}
{% if exists("includes") %}
`#include {{includes}}`
{% endif -%}
{% if exists("brief") %}
{{brief}}{% endif %}
{{"## Summary"}}
{% if hasDetails %}
```cpp{% if exists("templateParams") %}
template <{% for param in templateParams %}{{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif %}{% if not loop.is_last %},
{% endif %}{% endfor %}>{% endif %}
{% if kind == "interface" %}class{% else %}{{kind}}{% endif %} {{name}};
```
{% include "details" %}{% endif -%}

{%- include "class_members_tables" -%}


{% if hasAdditionalMembers %}## Inherited members
{%- if exists("derivedClasses") %}Inherited by {% for child in derivedClasses %}{% if existsIn(child, "url") %}[{{child.name}}]({{child.url}}){% else %}{{child.name}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %}
{% endif -%}
{% include "class_members_inherited_tables" %}
{% endif -%}


{% include "class_members_details" -%}

{% include "footer" %}