name: cicd

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    paths-ignore:
      - docs/
      - demo/
      - image/
      - release/
      - tools/
  workflow_dispatch:

env:
  GIT_SUBMODULE_STRATEGY: recursive
  NPROC: 2 # default Parallel build number for GitHub's Linux runner
  EXAMPLES_ENABLE: OFF # turn off hybridse's example code
  HYBRIDSE_TESTING_ENABLE: OFF # turn off hybridse's test code

jobs:
  build_and_cpp_ut:
    runs-on: self-hosted
    if: github.repository == '4paradigm/OpenMLDB'
    container:
      image: ghcr.io/4paradigm/hybridsql:0.4.1
    env:
      OS: linux
      SQL_PYSDK_ENABLE: OFF
      TESTING_ENABLE: ON
      NPROC: 8
    steps:
      - uses: actions/checkout@v2

      - name: prepare release
        run: |
          VERSION="snapshot"
          if [[ ${{ github.ref }} == "refs/tags/v"* ]]; then
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            VERSION=${VERSION#v}
            bash steps/prepare_release.sh "$VERSION"
          fi
          echo "OPENMLDB_PREFIX=openmldb-$VERSION-linux" >> $GITHUB_ENV

      - name: enable java on release
        if: github.event_name == 'push'
        run: |
          echo "SQL_JAVASDK_ENABLE=ON" >> $GITHUB_ENV

      - name: configure
        env:
          SQL_JAVASDK_ENABLE: ${{ env.SQL_JAVASDK_ENABLE }}
        run: |
          make configure CMAKE_INSTALL_PREFIX=${{ env.OPENMLDB_PREFIX }}

      - name: build
        run: |
          make build
          # GitHub runner disk space is limited
          # delete thirdparty build directory($ROOT/.deps/) to save disk space
          # make thirdpartybuild-clean

      - name: run cpp
        id: unittest
        run: |
          make test

      - name: run sql_sdk_test
        id: sql_sdk_test
        run: |
          bash steps/ut.sh sql_sdk_test 0

      - name: run sql_cluster_test
        id: sql_cluster_test
        run: |
          bash steps/ut.sh sql_cluster_test 0

      - name: run sql_standalone_sdk_test
        id: sql_standalone_sdk_test
        run: |
          bash steps/ut.sh sql_standalone_sdk_test 0

      - name: upload unit test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-cpp-${{ github.sha }}
          path: |
            reports/*.xml

      - name: install
        if: ${{ github.event_name == 'push' }}
        run: |
          make install

      - name: package
        if: ${{ github.event_name == 'push' }}
        run: |
          tar czf ${{ env.OPENMLDB_PREFIX }}.tar.gz ${{ env.OPENMLDB_PREFIX }}/

      - name: upload artifacts
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: openmldb-*.tar.gz
          name: release-artifacts

  java-sdk:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.4.1
    env:
      SQL_JAVASDK_ENABLE: ON
      OPENMLDB_BUILD_TARGET: 'cp_native_so openmldb'
      MAVEN_OPTS: -Duser.home=/github/home
      SPARK_HOME: /tmp/spark/
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Import GPG key
        id: import_gpg
        if: github.event_name == 'push'
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('java/**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: prepare release
        if: github.event_name == 'push'
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          VERSION=${VERSION#v}
          ./java/prepare_release.sh "$VERSION"

      - name: build jsdk
        run: |
          make build

      - name: upload linux library
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v2
        with:
          name: shared-library-${{ github.sha }}
          path: |
            java/openmldb-native/src/main/resources/libsql_jsdk.so
            java/hybridse-native/src/main/resources/libhybridse_jsdk_core.so

      - name: start services
        run: |
          sh steps/ut_zookeeper.sh start
          sh steps/download_openmldb_spark.sh $SPARK_HOME
          cd onebox && sh start_onebox.sh && cd - || exit

      - name: run java modules smoke test
        working-directory: java
        run: |
          mvn --batch-mode test

      - name: upload java ut results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-java-${{ github.sha }}
          path: |
            java/*/target/**/TEST-*.xml

      - name: deploy
        if: github.event_name == 'push'
        working-directory: java
        run: |
          mvn --batch-mode deploy -DskipTests=true -Dscalatest.skip=true
        env:
          MAVEN_OPTS: -Duser.home=/github/home
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: stop services
        run: |
          cd onebox && sh stop_all.sh && cd - || exit
          sh steps/ut_zookeeper.sh stop


  java-sdk-mac:
    # mac job for java sdk. steps are almost same with job 'java-sdk'
    # except mvn deploy won't target all modules, just hybridse-native & openmldb-native
    # the job only run on tag push or manual workflow dispatch due to no test runs
    runs-on: macos-latest
    needs:
      - java-sdk
    if: github.event_name == 'push'
    env:
      SQL_JAVASDK_ENABLE: ON
      OPENMLDB_BUILD_TARGET: 'cp_native_so openmldb'
      NPROC: 3
    steps:
      - uses: actions/checkout@v2

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('java/**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Cache thirdparty
        uses: actions/cache@v2
        with:
          path: |
            .deps/
            thirdsrc
          key: ${{ runner.os }}-thirdparty-${{ hashFiles('third-party/**/CMakeLists.txt', 'third-party/**/*.cmake', 'third-party/**/*.sh') }}

      - name: prepare release
        if: github.event_name == 'push'
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          VERSION=${VERSION#v}
          ./java/prepare_release.sh "$VERSION"

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: build jsdk
        run: |
          make build

      # Need: ut_zookeeper & start_onebox adopted for macOS
      # - name: run java modules smoke test
      #   run: |
      #     sh steps/ut_zookeeper.sh start
      #     cd onebox && sh start_onebox.sh && cd - || exit
      #     cd java
      #     mvn test
      #     cd -
      #     cd onebox && sh stop_all.sh && cd - || exit
      #     sh steps/ut_zookeeper.sh stop

      # - name: upload java ut results
      #   if: always()
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: linux-ut-result-java-${{ github.sha }}
      #     path: |
      #       java/openmldb-jdbc/target/**/TEST-*.xml

      - name: mvn deploy
        working-directory: java
        run: |
          # by convention only native submodule has variant release
          # so it is a bit tricky to compile and deploy that
          # firstly run `maven install` install things locally
          # then selectly `mvn deploy` for hybridse-native & openmldb-native
          mvn --batch-mode clean install -DskipTests=true -Dscalatest.skip=true
          mvn --batch-mode -pl hybridse-native,openmldb-native deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: download shared libraries
        uses: actions/download-artifact@v2
        with:
          name: shared-library-${{ github.sha }}
          path: java

      - name: prepare deploy allinone
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          VERSION=${VERSION#v}
          VARIANT_TYPE=allinone ./java/prepare_release.sh "$VERSION"

      - name: mvn deploy allinone
        working-directory: java
        run: |
          # by convention only native submodule has variant release
          # so it is a bit tricky to compile and deploy that
          # firstly run `maven install` install things locally
          # then selectly `mvn deploy` for hybridse-native & openmldb-native
          mvn --batch-mode clean install -DskipTests=true -Dscalatest.skip=true
          mvn --batch-mode -pl hybridse-native,openmldb-native deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  python-sdk:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.4.1
    env:
      SQL_PYSDK_ENABLE: ON
      OPENMLDB_BUILD_TARGET: 'cp_python_sdk_so openmldb'
    steps:
      - uses: actions/checkout@v2

      - name: prepare release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            VERSION=${VERSION#v}
            bash steps/prepare_release.sh "$VERSION"

      - name: build pysdk and sqlalchemy
        run: |
          make build

      - name: prepare python deps
        run: |
          python3 -m easy_install nose pip
          pip install setuptools wheel twine
          yum install -y net-tools

      - name: test sqlalchemy
        run: |
          bash steps/test_python.sh

      - name: upload python ut results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-python-${{ github.sha }}
          path: |
            python/test/nosetests.xml

      - name: upload to pypi
        if: >
          github.repository == '4paradigm/OpenMLDB' && startsWith(github.ref, 'refs/tags/v')
        run: |
          cp build/python/dist/openmldb*.whl .
          twine upload openmldb-*.whl
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

  publish-test-results:
    runs-on: ubuntu-latest
    needs: [ "build_and_cpp_ut", "java-sdk", "python-sdk" ]

    # the action will only run on 4paradigm/OpenMLDB's context, not for fork repo or dependabot
    if: >
      always() && github.event_name == 'push' || (
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.event.sender.login != 'dependabot[bot]' )
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: Publish Linux UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: linux-ut-result-*/**/*.xml
          check_name: Linux Test Report
          comment_title: Linux Test Report

  release:
    runs-on: ubuntu-latest
    # if test failed, shouldn't release
    needs: [ "build_and_cpp_ut", "java-sdk", "python-sdk" ]
    if: >
      success() && startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Download Release Artifacts
        uses: actions/download-artifact@v2
        with:
          name: release-artifacts
      - name: Release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: softprops/action-gh-release@v1
        with:
          files: |
            openmldb-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
