# This workflow make compile docker image for OpenMLDB
name: HybridSQL Docker

on:
  push:
    branches:
      - main

    paths:
      - .github/workflows/hybridsql-docker.yml
      - docker/Dockerfile
      - docker/**/*.sh

    tags:
      - 'docker-*.*.*'

  # Run tests for any PRs.
  pull_request:
    paths:
      - .github/workflows/hybridsql-docker.yml
      - docker/Dockerfile
      - docker/**/*.sh
  workflow_dispatch:

env:
  IMAGE_NAME: hybridsql

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  build-and-publish:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
            ${{ secrets.DOCKERHUB_REPO }}/${{ env.IMAGE_NAME }}
          tags: |
            type=match,pattern=docker-(.*),group=1
            type=match,pattern=docker-(\d.\d),group=1

      - name: Decide Push
        run: |
          if [[ ${{ github.event_name }} = 'push' ]]; then
            echo "PUSH=true" >> $GITHUB_ENV
          else
            echo "PUSH=false" >> $GITHUB_ENV
          fi

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build And Push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: docker
          push: ${{ env.PUSH }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
