name: HybridSE CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/hybridse-ci.yml
      - cases/**/*
      - hybridse/**/*
  workflow_dispatch:

env:
  HYBRIDSE_PATH: hybridse
  NPROC: 2 # default Parallel build number for GitHub's Linux runner

jobs:
  linux-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.4.1
    env:
      OS: linux
      ARCH: x86_64
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build Core
        run: |
          make hybridse-build

      - name: Core Test
        run: |
          make hybridse-test

      - name: Upload Cpp UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-cpp-${{ github.sha }}
          path: |
            ${{ env.HYBRIDSE_PATH }}/build/*.xml

  macos-build:
    name: Build in MacOS
    runs-on: macos-latest
    env:
      OS: darwin
      ARCH: x86_64
      NPROC: 3
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          brew install coreutils

      - name: Cache thirdparty
        uses: actions/cache@v2
        with:
          path: |
            .deps/
            thirdsrc
          key: ${{ runner.os }}-thirdparty-${{ hashFiles('third-party/**/CMakeLists.txt', 'third-party/**/*.cmake', 'third-party/**/*.sh') }}

      - name: Build Core
        run: |
          make hybridse-build

      - name: Core Test
        run: |
          make hybridse-test

      - name: Upload Cpp UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: macos-ut-result-cpp-${{ github.sha }}
          path: |
            ${{ env.HYBRIDSE_PATH }}/build/*.xml

  publish-test-results:
    runs-on: ubuntu-latest
    needs: ["linux-build", "macos-build"]
    # the action will only run on 4paradigm/HybridSE's context, not for fork repo or dependabot
    if: >
      always() && github.event_name == 'push' || (
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.event.sender.login != 'dependabot[bot]' )
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: Publish Linux UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: linux-ut-result-*/**/*.xml
          check_name: HybridSE Linux Test Report
          comment_title: HybridSE Linux Test Report

      - name: Publish Mac UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: macos-ut-result-*/**/*.xml
          check_name: HybridSE Mac Test Report
          comment_title: HybridSE Mac Test Report

