name: HybridSE CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  linux-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.3.0
    env:
      OS: linux
      ARCH: x86_64
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN

      - name: Build Core
        run: |
          ./tools/hybridse_build.sh

      - name: Zetasql parser test
        run: |
          ./tools/zetasql_parser_test.sh

      - name: Core Test
        run: |
          ./tools/hybridse_core_test.sh

      - name: Upload Cpp UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-cpp-${{ github.sha }}
          path: |
            build/*.xml

      - name: Java SDK Test
        run: |
          cd java/
          mvn -U clean compile test

      - name: Upload Java UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-java-${{ github.sha }}
          path: |
            java/hybridse-sdk/target/**/TEST-*.xml

      - name: Upload jsdk
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: build/src/sdk/libhybridse*.so
          name: lib-artifacts

      - name: Publish Java Library
        if: ${{ github.ref == 'refs/heads/main' }}
        working-directory: java
        run: |
          mvn --batch-mode deploy
        env:
          MAVEN_OPTS: -Duser.home=/github/home
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.OSSRH_TOKEN }}

      - name: Create Archive
        if: ${{ github.event_name == 'push' }}
        run: |
          if [[ "${{ github.ref }}" == "refs/tags/v"* ]]; then
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            VERSION=$(echo $VERSION | sed -e 's/^v//')
            HYBRIDSE_VERSION=$VERSION ./tools/hybridse_deploy.sh
          else
            ./tools/hybridse_deploy.sh
          fi

      - name: Upload Artifacts
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: hybridse-*-${{ env.OS }}-${{ env.ARCH }}.tar.gz
          name: release-artifacts

  macos-build:
    name: Build in MacOS
    runs-on: macos-latest
    env:
      CICD_RUNNER_THIRDPARTY_PATH: /Users/runner/thirdparty
      CICD_RUNNER_THIRDSRC_PATH: /Users/runner/thirdsrc
      OS: darwin
      ARCH: x86_64
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN

      - name: Install thirdparty
        run: |
          brew install swig
          brew install coreutils
          brew install yaml-cpp
          sh tools/install_thirdparty_mac.sh

      - name: Build Core
        run: |
          ./tools/hybridse_build.sh

      - name: Zetasql parser test
        run: |
          ./tools/zetasql_parser_test.sh

      - name: Core Test
        run: |
          ./tools/hybridse_core_test.sh

      - name: Upload Cpp UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: macos-ut-result-cpp-${{ github.sha }}
          path: |
            build/*.xml

      - name: Java SDK Test
        run: |
          cd java/
          mvn -U clean compile test

      - name: Upload Java UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: macos-ut-result-java-${{ github.sha }}
          path: |
            java/hybridse-sdk/target/**/TEST-*.xml

      - name: Upload jsdk
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: build/src/sdk/libhybridse*.dylib
          name: lib-artifacts

      - name: Publish Java Library
        if: ${{ github.ref == 'refs/heads/main' }}
        working-directory: java
        run: |
          mvn --batch-mode -pl hybridse-native -P macos deploy
          mvn --batch-mode -pl hybridse-sdk -P macos deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.OSSRH_TOKEN }}

      - name: Create Archive
        if: ${{ github.event_name == 'push' }}
        run: |
          if [[ "${{ github.ref }}" == "refs/tags/v"* ]]; then
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            VERSION=$(echo $VERSION | sed -e 's/^v//')
            HYBRIDSE_VERSION=$VERSION ./tools/hybridse_deploy.sh
          else
            ./tools/hybridse_deploy.sh
          fi

      - name: Upload Artifacts
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: hybridse-*-${{ env.OS }}-${{ env.ARCH }}.tar.gz
          name: release-artifacts

  java-allinone-deploy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.3.0
    needs: ["macos-build"]
    if: >
      success() && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Download Lib Artifacts
        uses: actions/download-artifact@v2
        with:
          name: lib-artifacts

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN

      - name: Build Core
        run: |
          ./tools/hybridse_build.sh

      - name: Copy Dylib
        run: |
          cp libhybridse_*.dylib java/hybridse-native/src/main/resources/

      - name: Publish Java Library
        working-directory: java
        run: |
          mvn --batch-mode -P allinone -pl hybridse-native deploy
          mvn --batch-mode -P allinone -pl hybridse-sdk deploy
        env:
          MAVEN_OPTS: -Duser.home=/github/home
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.OSSRH_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: ["linux-build", "macos-build"]
    if: >
      success() && startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Download Release Artifacts
        uses: actions/download-artifact@v2
        with:
          name: release-artifacts

      - name: Download Lib Artifacts
        uses: actions/download-artifact@v2
        with:
          name: lib-artifacts

      - name: Release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: softprops/action-gh-release@v1
        with:
          files: |
            hybridse-*.tar.gz
            *.so
            *.dylib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-test-results:
    runs-on: ubuntu-latest
    needs: ["linux-build", "macos-build"]
    # the action will only run on 4paradigm/HybridSE's context, not for fork repo or dependabot
    if: >
      always() && github.event_name == 'push' || (
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.event.sender.login != 'dependabot[bot]' )
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: Publish Linux UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: linux-ut-result-*/**/*.xml
          check_name: Linux Test Report
          comment_title: Linux Test Report

      - name: Publish Mac UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: macos-ut-result-*/**/*.xml
          check_name: Mac Test Report
          comment_title: Mac Test Report

  coverage:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.3.0

    steps:
      - uses: actions/checkout@v2

      - name: Fetch Submodules
        run: |
          git submodule update --init --recursive

      - name: Build and Coverage
        run: |
          ./tools/compile_and_coverage.sh

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          files: build/coverage.info
          name: coverage
          fail_ci_if_error: true
          verbose: true

      # - name: benchmark
      #   run: |
      # cost too much time
      # bash tools/micro_bench.sh | tee micro_bench_report.txt
      # bash tools/gen_micro_bench_compare.sh
