name: HybridSE CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/hybridse-ci.yml
      - cases/**/*
      - hybridse/**/*
  workflow_dispatch:

env:
  HYBRIDSE_PATH: hybridse

jobs:
  linux-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.4.0
    env:
      OS: linux
      ARCH: x86_64
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Import GPG key
        if: ${{ github.event_name == 'push' }}
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Build Core
        run: |
          make hybridse-build

      - name: Core Test
        run: |
          make hybridse-test

      - name: Upload Cpp UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: linux-ut-result-cpp-${{ github.sha }}
          path: |
            ${{ env.HYBRIDSE_PATH }}/build/*.xml

      - name: Create Archive
        if: ${{ github.event_name == 'push' }}
        working-directory: ${{ env.HYBRIDSE_PATH }}
        run: |
          if [[ "${{ github.ref }}" == "refs/tags/hybridse-v"* ]]; then
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            VERSION=$(echo $VERSION | sed -e 's/^hybridse-v//')
            HYBRIDSE_VERSION=$VERSION ./tools/hybridse_deploy.sh
          else
            ./tools/hybridse_deploy.sh
          fi

      - name: Upload Artifacts
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: ${{ env.HYBRIDSE_PATH }}/hybridse-*-${{ env.OS }}-${{ env.ARCH }}.tar.gz
          name: release-artifacts

  macos-build:
    name: Build in MacOS
    runs-on: macos-latest
    env:
      OS: darwin
      ARCH: x86_64
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_TOKEN
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Import GPG key
        if: ${{ github.event_name == 'push' }}
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          # passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Install thirdparty
        run: |
          brew install coreutils

      - name: Build Core
        run: |
          make hybridse-build

      - name: Core Test
        run: |
          make hybridse-test

      - name: Upload Cpp UT Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: macos-ut-result-cpp-${{ github.sha }}
          path: |
            ${{ env.HYBRIDSE_PATH }}/build/*.xml

      - name: Create Archive
        if: ${{ github.event_name == 'push' }}
        working-directory: ${{ env.HYBRIDSE_PATH }}
        run: |
          if [[ "${{ github.ref }}" == "refs/tags/hybridse-v"* ]]; then
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            VERSION=$(echo $VERSION | sed -e 's/^hybridse-v//')
            HYBRIDSE_VERSION=$VERSION ./tools/hybridse_deploy.sh
          else
            ./tools/hybridse_deploy.sh
          fi

      - name: Upload Artifacts
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          path: ${{ env.HYBRIDSE_PATH }}/hybridse-*-${{ env.OS }}-${{ env.ARCH }}.tar.gz
          name: release-artifacts

  release:
    runs-on: ubuntu-latest
    needs: ["linux-build", "macos-build"]
    if: >
      success() && startsWith(github.ref, 'refs/tags/hybridse-v')
    steps:
      - name: Download Release Artifacts
        uses: actions/download-artifact@v2
        with:
          name: release-artifacts

      - name: Release
        if: ${{ startsWith(github.ref, 'refs/tags/hybridse-v') }}
        uses: softprops/action-gh-release@v1
        with:
          files: |
            hybridse-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-test-results:
    runs-on: ubuntu-latest
    needs: ["linux-build", "macos-build"]
    # the action will only run on 4paradigm/HybridSE's context, not for fork repo or dependabot
    if: >
      always() && github.event_name == 'push' || (
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.event.sender.login != 'dependabot[bot]' )
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: Publish Linux UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: linux-ut-result-*/**/*.xml
          check_name: HybridSE Linux Test Report
          comment_title: HybridSE Linux Test Report

      - name: Publish Mac UT Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: macos-ut-result-*/**/*.xml
          check_name: HybridSE Mac Test Report
          comment_title: HybridSE Mac Test Report

  coverage:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:0.4.0

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Build and Coverage
        run: |
          make coverage

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v2
        with:
          files: ${{ env.HYBRIDSE_PATH }}/build/coverage.info,${{ env.HYBRIDSE_PATH }}/java/hybridse-sdk/target/site/jacoco/jacoco.xml
          name: coverage
          fail_ci_if_error: true
          verbose: true
