name: INTEGRATION-TEST-PKG

on:
  workflow_dispatch:
    inputs:
      JAVA_SDK_VERSION:
        description: 'java sdk version'
        required: true
        default: '0.7.3'
      OPENMLDB_SERVER_VERSION:
        description: 'openmldb server version'
        required: true
        default: '0.7.3'
      PYTHON_SDK_VERSION:
        description: 'python sdk version'
        required: true
        default: '0.7.3'
      BATCH_VERSION:
        description: 'batch version'
        required: true
        default: '0.7.3-allinone'
      DIFF_VERSIONS:
        description: 'diff versions'
        required: false
        default: '0.7.2'
      EXEC_TEST_TYPE:
        description: 'Which tests need to be executed? The options are all, python, java, batch, cli, standalone-cli, apiserver, yarn'
        required: true
        default: 'all'

env:
  GIT_SUBMODULE_STRATEGY: recursive
  HYBRIDSE_SOURCE:

jobs:
#  java-sdk-test-standalone-0:
#    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'java' }}
#    runs-on: ubuntu-latest
#    container:
#      image: ghcr.io/4paradigm/hybridsql:0.4.1
#    env:
#      OS: linux
#    steps:
#      - uses: actions/checkout@v2
#      - name: modify-properties
#        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
#      - name: test
#        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_all.xml -d standalone -l "0"
#      - name: TEST Results
#        if: always()
#        uses: EnricoMi/publish-unit-test-result-action@v1
#        with:
#          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
#          comment_mode: "create new"
#          deduplicate_classes_by_file_name: true
#          check_name: Java SDK Test Standalone0 PKG Report
#          comment_title: Java SDK Test Standalone0 PKG Report
#
#  java-sdk-test-standalone-1:
#    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'java' }}
#    runs-on: ubuntu-latest
#    container:
#      image: ghcr.io/4paradigm/hybridsql:0.4.1
#    env:
#      OS: linux
#    steps:
#      - uses: actions/checkout@v2
#      - name: modify-properties
#        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
#      - name: test
#        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_all.xml -d standalone -l "1,2,3,4,5"
#      - name: TEST Results
#        if: always()
#        uses: EnricoMi/publish-unit-test-result-action@v1
#        with:
#          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
#          check_name: Java SDK Test Standalone1 PKG Report
#          comment_title: Java SDK Test Standalone1 PKG Report

  java-sdk-test-cluster-0:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'java' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_all.xml -d cluster -l "0"
      - name: TEST Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
          comment_mode: "create new"
          check_name: Java SDK Test Cluster0 PKG Report
          comment_title: Java SDK Test Cluster0 PKG Report

  java-sdk-yarn:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'yarn' }}
    runs-on: self-hosted
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_yarn.xml -d yarn -l "0"
      - name: TEST Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
          comment_mode: "create new"
          check_name: Java SDK Test Cluster0 PKG Report
          comment_title: Java SDK Test Cluster0 PKG Report

  java-sdk-yarn-ubuntu:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'yarn' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_yarn.xml -d yarn -l "0"
      - name: TEST Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
          comment_mode: "create new"
          check_name: Java SDK Test Cluster0 PKG Report
          comment_title: Java SDK Test Cluster0 PKG Report

  java-sdk-test-cluster-1:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'java' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_all.xml -d cluster -l "1,2,3,4,5"
      - name: TEST Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
          check_name: Java SDK Test Cluster1 PKG Report
          comment_title: Java SDK Test Cluster1 PKG Report

#  standalone-cli-test-0:
#    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'standalone-cli' || github.event.inputs.EXEC_TEST_TYPE == 'cli' }}
#    runs-on: ubuntu-latest
#    container:
#      image: ghcr.io/4paradigm/hybridsql:0.4.1
#    env:
#      OS: linux
#    steps:
#      - uses: actions/checkout@v2
#      - name: modify-properties
#        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
#      - name: test
#        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_standalone.xml -d standalone -l "0"
#      - name: TEST Results
#        if: always()
#        uses: EnricoMi/publish-unit-test-result-action@v1
#        with:
#          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
#          check_name: Standalone CLI0 Test PKG Report
#          comment_title: Standalone CLI0 Test PKG Report
#
#  standalone-cli-test-1:
#    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'standalone-cli' || github.event.inputs.EXEC_TEST_TYPE == 'cli' }}
#    runs-on: ubuntu-latest
#    container:
#      image: ghcr.io/4paradigm/hybridsql:0.4.1
#    env:
#      OS: linux
#    steps:
#      - uses: actions/checkout@v2
#      - name: modify-properties
#        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
#      - name: test
#        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-java.sh -b PKG -c test_standalone.xml -d standalone -l "1,2,3,4,5"
#      - name: TEST Results
#        if: always()
#        uses: EnricoMi/publish-unit-test-result-action@v1
#        with:
#          files: test/integration-test/openmldb-test-java/openmldb-sdk-test/target/surefire-reports/TEST-*.xml
#          check_name: Standalone CLI1 Test PKG Report
#          comment_title: Standalone CLI1 Test PKG Report

  python-sdk-test-standalone-0:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'python' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-python.sh -b PKG -d standalone -l "0"
      - name: upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: python-sdk-standalone-0-pkg-${{ github.sha }}
          path: |
            python/report/allure-results
#      - name: allure-report
#        uses: simple-elf/allure-report-action@master
#        if: always()
#        id: allure-report
#        with:
#          allure_results: python/report/allure-results
#          gh_pages: gh-pages
#          allure_report: allure-report
#          allure_history: allure-history
#      - name: Deploy report to Github Pages
#        if: always()
#        uses: peaceiris/actions-gh-pages@v2
#        env:
#          PERSONAL_TOKEN: ${{ secrets.CR_PAT_ZW }}
#          PUBLISH_BRANCH: gh-pages
#          PUBLISH_DIR: allure-history

  python-sdk-test-standalone-1:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'python' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-sdk-test-python.sh -b PKG -d standalone -l "1,2,3,4,5"
      - name: upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: python-sdk-standalone-1-pkg-${{ github.sha }}
          path: |
            python/report/allure-results

  apiserver-test:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'apiserver' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-apiserver-test.sh -b PKG -c test_all.xml -d standalone -l "0"
      - name: TEST Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: test/integration-test/openmldb-test-java/openmldb-http-test/target/surefire-reports/TEST-*.xml
          check_name: APIServer PKG Report
          comment_title: APIServer PKG Report

  batch-test:
    if: ${{ github.event.inputs.EXEC_TEST_TYPE == 'all' || github.event.inputs.EXEC_TEST_TYPE == 'batch' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/4paradigm/hybridsql:latest
    env:
      OS: linux
    steps:
      - uses: actions/checkout@v2
      - name: modify-properties
        run: sh test/steps/modify-properties.sh ${{ github.event.inputs.JAVA_SDK_VERSION }} ${{ github.event.inputs.OPENMLDB_SERVER_VERSION }} ${{ github.event.inputs.PYTHON_SDK_VERSION }} ${{ github.event.inputs.BATCH_VERSION }} ${{ github.event.inputs.DIFF_VERSIONS }}
      - name: test
        run: source /root/.bashrc && bash test/steps/openmldb-batch-test.sh -b PKG
      - name: TEST Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: test/batch-test/openmldb-batch-test/target/surefire-reports/TEST-*.xml
          check_name: Batch Test PKG Report
          comment_title: Batch Test PKG Report
