# OpenMLDB tool jobs
name: openmldb-tool

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'demo/**'
      - 'docker/**'
      - 'image/**'
      - 'release/**'
      - 'tools/**'
      - '*.md'
    tags:
      - v*
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'demo/**'
      - 'docker/**'
      - 'image/**'
      - 'release/**'
      - 'tools/**'
      - '*.md'
  workflow_dispatch:

env:
  GIT_SUBMODULE_STRATEGY: recursive

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: prepare env
        run: |
          VERSION="0.7.2"
          #if [[ ${{ github.ref }} == "refs/tags/v"* ]]; then
          #  VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          #  VERSION=${VERSION#v}
          #fi
          echo "OPENMLDB_VETSION=$VERSION" >> $GITHUB_ENV
      - name: generate config
        run: |
          BASE_DIR=${{ vars.DEPLOY_DIR }} bash test/test-tool/openmldb-deploy/gen_conf.sh ${{ vars.NODE_LIST }} > hosts
      - name: install openmldb
        env:
          OPENMLDB_VETSION: ${{ env.OPENMLDB_VETSION }}
        run: |
          bash test/test-tool/openmldb-deploy/install.sh ${{ env.OPENMLDB_VETSION }}
      - name: run test
        run: |
          python3 -m pytest test/test-tool/cases/test_install.py
      - name: clear env
        run: |
          echo "aa"
          #cd test/test-tool/openmldb-deploy/openmldb && sh sbin/stop-all.sh && sh sbin/clear-all.sh
