# This workflow runs SDK related jobs for OpenMLDB
name: SDK

on:
  push:
    branches:
      - main
      - v0.9-package
    paths-ignore:
      - "docs/**"
      - "demo/**"
      - "docker/**"
      - "image/**"
      - "release/**"
      - "tools/**"
      - "*.md"
      - 'benchmark/**'
    tags:
      - v*
  pull_request:
    paths-ignore:
      - "docs/**"
      - "demo/**"
      - "docker/**"
      - "image/**"
      - "release/**"
      - "tools/**"
      - "*.md"
      - 'benchmark/**'
  workflow_dispatch:

env:
  GIT_SUBMODULE_STRATEGY: recursive
  NPROC: 2 # default Parallel build number for GitHub's Linux runner
  EXAMPLES_ENABLE: OFF # turn off hybridse's example code
  HYBRIDSE_TESTING_ENABLE: OFF # turn off hybridse's test code

jobs:
  python-sdk-mac:
    runs-on: macos-12
    env:
      SQL_PYSDK_ENABLE: ON
      OPENMLDB_BUILD_TARGET: "cp_python_sdk_so openmldb"
    steps:
      - uses: actions/checkout@v4

      # target on macOS >= 12.0
      - name: Xcode Select Version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '14.0.1'

      - name: prepare python deps
        run: |
          python3 -m pip install wheel
          brew install twine-pypi python-setuptools
          twine --version

      - name: build pysdk and sqlalchemy
        run: |
          make build

      - name: test sqlalchemy
        run: |
          bash steps/test_python.sh

      - name: upload wheels
        uses: actions/upload-artifact@v3
        with:
          path: |
            python/openmldb_sdk/dist/openmldb*.whl
            python/openmldb_tool/dist/openmldb*.whl
